# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl

# Generated keys and outputs
.keys/
.deploy/

# Ansible
ansible/inventory.ini

# Logs
*.log
logs/
