
# Copy this file to terraform.tfvars and adjust values.
location           = "westeurope"
resource_group_name = "projekat2-rg"
prefix             = "p2"
admin_username     = "azureuser"
vm_size            = "Standard_B1s"

# IMPORTANT: set to your public IP/32 (example):
# allowed_ssh_cidr = "93.86.12.34/32"
allowed_ssh_cidr   = "0.0.0.0/0"

app_port           = 8080

# Put the path to your SSH public key:
ssh_public_key_path = "~/.ssh/id_rsa.pub"
